<div class="flex items-center">
  <input type="checkbox" id="<%= @id %>" name="<%= @name %>" <%= checked? %> class="mr-2" <%= "disabled" if @disabled %>>
  <label for="<%= @id %>"><%= @label %></label>
</div>
